<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Extract document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <script>
        /**
         * @param {HTMLElement} element
         */
        function unescapeLine(element) {
            /** @type {HTMLElement} */
            var escapedLine = element.parentElement.previousElementSibling;
            /** @type {HTMLElement} */
            var rawLine = escapedLine.previousElementSibling;

            if (rawLine.style.display == 'table-cell' || rawLine.style.display == '') {
                rawLine.style.display = 'none'
                escapedLine.style.display = 'table-cell'
            } else {
                escapedLine.style.display = 'none'
                rawLine.style.display = 'table-cell'
            }
        }

        function logSelection(event) {
            const selection = event.target.value.substring(
                event.target.selectionStart,
                event.target.selectionEnd,
            );

            alert('substring(' + event.target.selectionStart + ', ' + event.target.selectionEnd + ') == ' + selection)
        }
    </script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <form th:unless="${invoice ne null}" th:action="@{/preview}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

            <label for="password">Password: </label>
            <input name="password" class="form-control" type="password" placeholder="Password if any">
            <small id="emailHelp" class="form-text text-muted">Some invoices are password protected.</small>
        </div>

        <div class="form-group">
            <label for="document">Document: </label>
            <input name="document" class="form-control-file" type="file">
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

    <div th:if="${lines ne null}">
        <table class="table">
            <caption>Line Stream Preview</caption>
            <thead>
                <tr>
                    <th scope="col">Line#</th>
                    <th scope="col">Content</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="line, stat : ${lines}">
                    <th scope="row" th:text="${stat.count}"></th>
                    <td>
                        <input type="text" class="form-control" readonly
                            onselect="logSelection(event)" th:value="${line.rawLine}">
                    </td>
                    <td style="display: none;">
                        <input type="text" class="form-control" readonly
                            onselect="logSelection(event)" th:value="${line.escapedLine}">
                    </td>
                    <td>
                        <input th:if="${line.hasEscapedChar}" class="fele-unescape-btn" type="button" value="unescape" onclick="unescapeLine(this)">
                    </td>
                </tr>]
            </tbody>
        </table>
    </div>

</body>

</html>